
@model laywer_web.Models.lawyerViewModel



 
@{
    Layout = "../shared/_layout2.cshtml";
}
@if (TempData["editedlawyermassage"] !=null)
{
 
    <div class="alert alert-success" role="alert">
      
        <h4 style="text-align:center;">  @TempData["editedlawyermassage"]</h4>
    </div>
}

<main>
    <form action="" class="form_data" autocomplete="off" style=" display: flex;
    padding-top: 20px;
    justify-items: center;
    justify-content: center;">
        <input type="text" placeholder="search by name or by services...." name="search_text" style="  border: none;
        width: 50%;
        margin: 10px;
        border-radius: 1px;
        border: 2px solid grey;
        padding: 5px;
">
        <input type="submit" value="search" style="  border: none;
        width: 15%;
        margin: 10px;
        border-radius: 1px;
        border: 2px solid grey;
        padding: 15px;
        border-radius: 10px;
        background-color: black;
        color: white;">
    </form>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Lawyer Data Table</h5>

            <!-- Dark Table -->
            <table class="table table-dark">
                <thead>
                    <tr>
                      
                        <th scope="col"> Lawyer Name</th>
                        <th scope="col">Lawyer Email</th>
                        <th scope="col">Lawyer Number</th>
                          <th scope="col">Lawyer dealing</th>
                      

                     
                        
                        <th scope="col" style="text-align:center;"> Options</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var lawyerData in Model.lawyersdetails)
                    {
                        <tr>

                           
                            <td>@lawyerData.lawyer_name</td>
                            <td>@lawyerData.lawyer_email</td>
                            <td>@lawyerData.lawyer_Number</td>
                            <td>@lawyerData.lawyer_dealed</td>
                          


                            


                            <td>
                                <button type="button" class="btn btn-danger" style="margin:5px">
                                    <a style="color:white" href="@Url.Action("deletelawyer","admin",new{id=lawyerData.lawyer_id})">
                                        Delete
                                    </a>
                                </button>

                                <button type="button" class="btn btn-primary" style="margin:5px">
                                    <a style="color:white" href="@Url.Action("editlawyers","admin",new{id=lawyerData.lawyer_id})">

                                        Edit lawyer

                                    </a>
                                </button>
                                <button type="button" class="btn btn-secondary" style="margin:5px">
                                    <a style="color:white" href="@Url.Action("lawyers_profile","admin",new{id=lawyerData.lawyer_id})">

                                        Details

                                    </a>
                                </button>
                            </td>
                        </tr>
                    }
                
                
                 
                    
                </tbody>
            </table>
            <!-- End Dark Table -->
            @if (@TempData["error"]!=null)
            {
                <p style="text-align:center;color:red">@TempData["error"]</p>
            }
        </div>
    </div>
</main>




@* @foreach (var lawyerdata in Model)
{
<h3>id : @lawyerdata.lawyer_id</h3>    
<h5>@lawyerdata.lawyer_name</h5>
} *@

 
