@model laywer_web.Models.lawyerViewModel

@{
    Layout = "../shared/_layout2.cshtml";
}
@* <form method="post" >
    <input type="text" name="admin_id" value="@Model.editedadmin.admin_id" readonly />
    <input type="text" value="@Model.editedadmin.admin_name" name="admin_name">
    <input type="text" value="@Model.editedadmin.admin_email" name="admin_email">
    <input type="text" value="@Model.editedadmin.admin_password" name="admin_password">
    <input type="submit" value="save">

</form> *@
<main>
    <div class="container">

        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col  flex-column align-items-center justify-content-center">


                        <!-- End Logo -->

                        <div class="card mb-3">


                            <div class="card-body">

                                <div class="pt-4 pb-2">
                                    <h5 class="card-title text-center pb-0 fs-4">Edit profile</h5>
                                    <p class="text-center small">Enter Lawyer personal details to create account</p>
                                </div>

                                <form method="post" class="row g-3 needs-validation" autocomplete="off" enctype="multipart/form-data">
                                    
                                        <input type="hidden" class="form-control" name="admin_id" value=" @Model.editedadmin.admin_id" readonly id="yourPassword" />                                       <div class="invalid-feedback">Please, enter your name!</div>
                                    

                                    <div class="col-12">
                                        <label for="yourEmail" class="form-label">Admin Name</label>
                                        <input type="text" class="form-control" name="admin_name" value="@Model.editedadmin.admin_name" id="yourPassword" />                                       <div class="invalid-feedback">Please enter a valid Email adddress!</div>
                                    </div>



                                    <div class="col-12">
                                        <label for="yourPassword" class="form-label">Admin Email</label>
                                        <input type="text" class="form-control" name="admin_email" value="@Model.editedadmin.admin_email" id="yourPassword" />                                        <div class="invalid-feedback">Please enter your password!</div>
                                    </div>
                                    
                                   

                                    <div class="col-12">
                                        <label for="yourPassword" class="form-label">Admin Password</label>
                                        <input type="text" class="form-control" name="admin_password" value="@Model.editedadmin.admin_password" id="yourPassword" />                                        <div class="invalid-feedback">Please enter your password!</div>
                                    </div>
                                    @* <div class="col-12">
                                    <div class="form-check">
                                    <input class="form-check-input" name="terms" type="checkbox" value="" id="acceptTerms" required>
                                    <label class="form-check-label" for="acceptTerms">I agree and accept the <a href="#">terms and conditions</a></label>
                                    <div class="invalid-feedback">You must agree before submitting.</div>
                                    </div>
                                    </div> *@
                                    <div class="col-12">
                                        <input class="btn btn-primary w-100" type="submit" value="update Profile">
                                    </div>
                                    @* <div class="col-12">
                                    <p class="small mb-0">Already have an account? <a href="pages-login.html">Log in</a></p>
                                    </div> *@
                                </form>

                            </div>
                        </div>



                    </div>
                </div>
            </div>

        </section>

    </div>
</main>